body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}
#main {
  width: 300px;
  background-color: #292929;
  border-radius: 20px;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
button {
  flex: 0 0 22%;
  height: 66px;
  color: rgba(254, 174, 173);
  background-color: #292929;
  border-radius: 40px;
}
.clear {
  flex: 0 0 calc(44% + 10px);
}

#display {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #fcfcfc;
}
